* {
  font-family: "Arial Black", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(164deg, rgba(2,0,36,1) 0%, rgba(7,42,186,1) 21%, rgba(0,212,255,1) 100%);
}